body {
    padding: 0;
    border: none;
    margin: 0;
    min-height: 99vh; 
    display: flex;
    flex-direction: column;
}


#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    flex: 1;
}

/* Обертка для структуры приложения */
.app-wrapper {
    min-height: 100vh; 
    display: flex;
    flex-direction: column;
    flex: 1;
}


.main-content {
    flex: 1 0 auto; 
}